<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="{{ css }}">
    </head>
    <body>
        <div class="table">
            {% for row in table %}
                <div class="row {{row['class']}}">
                    {% for element in row['content'] %}
                        <div class="element {{element['class']}}">
                            {{ element['text'] }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </body>
</html>